.navbar {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 256;
    background-color: var(--background2);
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar li {
    text-align: center;
    width: 33.333%;
}

.navbar a { 
    display: block;
    color: var(--text_secondary);
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 400;

    text-decoration: none;
    transition: font-weight 200ms ease-in-out;
    transition: font-color 200ms ease-in-out;

    line-height: 3.5rem;
}

.navbar a:hover {
    font-weight: 600;
    color: var(--text_primary);
    background-color: var(--background1);
    transition: font-color 200ms ease-in-out;
    transition: font-weight 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

@media (max-width: 768px) {
    .navbar a {
        font-size: 1.25rem;
    }
}

