:root {
    --mobile_rem_width: 17rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.profile-pic {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 4px solid var(--text_secondary);
}

.info {
    padding-left: 2rem;
    text-align: left;
}

.info h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    color: var(--text_primary);
    padding-top: 1rem;
    text-align: center;
}

.info p {
    padding-top: 1rem;
    font-size: 1.5rem;
    margin: 0;
    color: var(--text_secondary);
    text-align: left;
}

.info img {
    height: 2rem;
}

.info a {
    text-decoration: none;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
        padding-top: 2rem;
    }

    .profile-pic {
        width: var(--mobile_rem_width);
        height: var(--mobile_rem_width);
    }

    .info {
        text-align: center;
        padding: 0;
    }

    .info h1 {
        font-size: 2rem; /* Reduced font size for smaller screens */
        color: var(--text_primary);
    }

    .info p {
        text-align: center;
        width: var(--mobile_rem_width);
        font-size: var(--mobile_font_size);
    }
}

