:root {
    --border-radius: .5rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0;
    margin-top: 0;

    justify-content: center;
}


.project {
    width: calc(30% - 10px);
    height: 30rem;

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    padding-left: 1.4rem;
    padding-right: 1.4rem;

    border-radius: var(--border-radius);

    text-align: center;
    background-color: #121212;

}

@media (max-width: 768px) {
    .project {
        width: 100%; /* Full width on smaller screens */
    }
    .project img {
        border: red 1px solid;
    }
}

.project a {
    text-decoration: none;
    color: var(--text_primary);
}

h2 {
    padding-left: 1.5rem;
    font-size: 1.4em;
    text-align: left;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text_secondary);
}

.project img {
    height: 60%;
    width: 100%;
    object-fit: cover;

    border-radius: var(--border-radius);
    border: 4px solid var(--background2);
}

.project img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
}

.project:hover img {
    filter: blur(2px);
    transition: filter 0.25s ease-in;
}

.project:hover p {
    color: var(--text_primary);
    transition: color 0.25s ease-in;
}

.project:hover h1 {
    color: var(--accent1);
    transition: color 0.25s ease-in;
}


.project:hover {
    cursor: pointer;
    background-color: #0f0f0f;
}

.project h1 {
    margin: 0rem;

    font-size: 1.7em;
    font-weight: 600;
    color: var(--text_primary);

    text-align: center;
    vertical-align: middle;

}

.project p {
    color: var(--text_secondary);
    text-align: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
