.project-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;

}

@media (max-width: 375px) { /* Adjust the breakpoint to your desired mobile screen size */
    .project-container {
        width: 100%; /* Set the width to 100% for mobile devices */
    }
}

.project-title {
    font-size: 36px;
    color: var(--text_primary);
    text-align: center;
    margin: 0 0;
}

video{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.project-image {

    width: auto;
    height: 20rem;
    object-fit: cover;
}

.hr {
    border-top: 1px solid var(--text_primary);
    width: 100%;
    margin: 1rem 0;
}

p {
    font-size: 20px;
    color: var(--text_primary);
    letter-spacing: 0.5px;

}


h1 {
    text-align: center;
    margin: 0;
}
.technologies-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text_secondary);
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}

.line-break {
    border-top: 1px solid var(--text_primary);
}
