.project-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: var(--background2);
}

@media (max-width: 375px) { /* Adjust the breakpoint to your desired mobile screen size */
    .project-container {
        width: 100%; /* Set the width to 100% for mobile devices */
    }
}

video{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.project-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.hr {
    border-top: 1px solid var(--text_primary);
    width: 100%;
    margin: 1rem 0;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: var(--text_primary);
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    color: var(--text_primary);
}

ul {
    list-style-type: "🔹";
    padding: 0;
    margin: 0;
}

li {
    font-size: 20px;
    color: var(--text_primary);
}
