@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background1: #1e1e1e;
    --background2: #191919;

    --accent1: #acbbe6;
    --accent2: #718bd4;
    --accent3: #08F;

    --text_primary: #FFFFFF;
    --text_secondary: #d3d3d3;

    --weight: 600;
}

body {
    padding-top: 3.5rem;
    margin: 0;

    background: var(--background1);
    font-family: "Open Sans", sans-serif;
}
