@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background1: #151922;
    --background2: #20252E;
    --accent1: #162034;
    --accent2: #1d2b4;
    --accent3: #08F;
    --text_primary: #FFFFFF;
    --text_secondary: #d3d3d3;
    --text_tertiary: #a0a0a0;
    --text_quaternary: #808080;
    --text_quinary: #606060;
    --text_senary: #404040;
    --text_septenary: #202020;
    --link: #08F;
}

body {
    background: var(--background2);
    color: var(--text_primary);
    margin: 0;



    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a:link {
    color: var(--link);
} 

p:link {
    color: var(--text_primary);
}

a:visited {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--accent2);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
}

footer {
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-align: center;
}
