@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --background1: #151922;
    --background2: #20252E;
    --accent1: #162034;
    --accent2: #1d2b4;
    --accent3: #183446;
    --text_primary: #FFFFFF;
    --text_secondary: #d3d3d3;
}


body {

    background: var(--background2);
    color: var(--text_primary);

    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


a:link {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
} 

a:visited {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--accent2);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
}


/* =-=-=-=-=-=-= NAVBAR =-=-=-=-=-= */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: var(--background1);
    z-index: 256;
}

.navbar ul{
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.navbar li {
    float: inline-start;
    text-align: center;
    vertical-align: middle;

}
.navbar a { 
    display: block;
    color: var(--text_secondary);
    padding: 1rem 1rem;

    text-decoration: none;
    transition: font-weight 200ms ease-in-out;
    transition: font-color 200ms ease-in-out;
}

.navbar a:hover {
    font-weight: 600;
    color: var(--text_primary);
}



/* =-=-=-=-=-= PROFILE =-=-=-=-=-=-=-= */

.profile {
    text-align: center;
    padding-top: 5rem;
}

.profile img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: solid 5px var(--text_secondary);
    border-radius: 15rem;
}


/* =-=-=-=-=-=-=-= PROJECT =-=-=-=-=-=-=-= */

.project-container {

    display: inline-flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;

    margin-top: 2rem;
    padding-top: 5rem;

}

.project {


    margin: 5px;

    width: 40rem;
    height: 30rem;

    padding-left: .5rem;
    padding-right: .5rem;
}

.project img {
    height: 90%;
    width: 100%;

    object-fit: cover;
    margin: 0;

    display: block;

    border-radius: .5em;

    -webkit-filter: blur(0);
    filter: blur(0);
    transition: filter 0.25s ease-in, -webkit-filter 0.25s ease-in-out, border-bottom 0.4s ease-in-out;

    cursor: pointer;
}

.project img:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}


.project img.clicked + p {
    border-bottom-color: white; /* Change the color as needed */
}


.project h1 {
    margin: 0rem;

    font-size: 1.7em;
    font-weight: 600;
    color: var(--text_primary);

    text-align: center;
    vertical-align: middle;

}

.project a {
    color: var(--text_seconday);
    text-align: left;
    vertical-align: middle;
    font-size: .9em;

}

.project p {
    height: 15%;
    font-size: 1.1rem;
}


.thicc {
    height: 1000px
}


footer {
    text-align: center;
}

