@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --background1: #151922;
    --background2: #20252E;
    --accent1: #162034;
    --accent2: #1d2b4;
    --accent3: #183446;
    --text_primary: #FFFFFF;
    --text_secondary: #FFF000;
}


body {

    background: var(--background1);
    color: var(--text_primary);

    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


a:link {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
} 

a:visited {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--accent2);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: var(--text_primary);
    background-color: transparent;
    text-decoration: none;
}

hr {
    border-top: 1px solid var(--accent2);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background2);

    z-index: 256;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a { 
    display: block;
    color: var(--text_primary);
    padding: 1rem 1rem;
    text-decoration: none;
}
.navbar a:hover {
    background-color: var(--accent2);
}



/* profile */
.profile {
    text-align: center;
}

.profile img {
    width: 30rem;
}

/* =-=-=-=-=-=-=-= PROJECT =-=-=-=-=-=-=-= */

.project-container {
    display: inline-flex;
    margin: 10% 10%;
    max-width: 90%;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.project {
    margin: 5px;
    width: 45rem;
    height: 35rem;
}

.project img {
    height: 70%;
    width: 100%;

    object-fit: cover;
    margin: 0;


    display: block;


    border-radius: .3em;

    -webkit-filter: blur(0);
    filter: blur(0);
    transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out, border-bottom 0.4s ease-in-out;

    cursor: pointer;
}

.project img:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}


.project img.clicked + p {
    border-bottom-color: white; /* Change the color as needed */
}


.project h1 {
    margin: 0;

    font-size: 1.5em;
    font-weight: 600;
    color: var(--text_primary);

    text-align: center;
    vertical-align: middle;

}

.project a {
    color: var(--text_seconday);
    text-align: left;
    vertical-align: middle;
    font-size: .9em;

}

.project p {
    height: 15%;
    font-size: 1.1rem;
}



.thicc {
    height: 1000px
}


footer {
    text-align: center;
}

footer a {
    color: var(--accent);
    text-decoration: none;
}
